@font-face {
  font-family: "MinecraftFont";
  src: url("@/assets/fonts/MinecraftRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MinecraftFont", sans-serif;
}
